.container {
  padding: 20px;
  background-color: black;
  margin-bottom: 10px;
}

.container h1,
h3 {
  color: #fff;
  text-decoration: none;
}

.Link {
  color: #2ea8d1;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin-right: 15px;
}
