.country1 {
  padding: 20px;
  background-color: #e04f82;
}

.country2 {
  padding: 20px;
  background-color: #cc4775;
}

.country1 h1,
.country2 h1,
h3 {
  color: #fff;
  text-decoration: none;
}

.Link {
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
